.BotDesignRoot {
    --tw-bg-opacity: 1;
    background-color: rgba(251, 252, 255, var(--tw-bg-opacity));
    height: 100%;
}
.BotDesignRootContent {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    height: 100%;
}
.BotDesignRootContentImg {
    margin-left: auto;
    margin-right: auto;
}
.BotDesignRootContentText {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    margin-top: 2rem;
}

/* ********************************************** */


.TooltipInput {
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding: 1rem;
    border-radius: 0.75rem;
    height: 3.5rem;
    margin-top: 1rem;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    width: 100%;
}
.oneTooltip{
    display: flex;
    justify-content: space-between;
}
.tooltipName{
    width: 30%;
}
.tooltipcontent{
    width: 65%;
}
p{
    font-weight: 600!important;
    font-size: 20px;
}
.fa-plus-square{
    font-size: 25px;
    overflow: hidden;
}
.addBtn{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border-style: none !important;
    background-color: #cc2b7c;
    color: white;
    margin-top: 1rem;
}
::placeholder{
    font-size: 17px;
}